
 footer {
	background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
	padding: 2px 10px;
	border-top: 5px solid #2a333c;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.btn1 {
        margin-left:10px;
        margin-right: 10px;
        margin-top:7px;
        float:right;
        margin-bottom:10px;
        padding: 7px; 
        border:none; 
        border-radius: 5px;
        }
.icon{
	font-size:20px;color:green;
}
.modal-header{
background-color: #343a40;
    color: #fff;
}
.PMCValue{
	    font-family:'digital-clock-font';
/*     background-color: #000; */
    color: #0d6efd;
    padding: 3px 5px;
    font-weight: 600;
/*     border-style: double; */
    letter-spacing: 1px;
}
.unit{
	    font-size: 10px;
	    margin-left:5px;
    font-family: inherit;
}

#submitBtn,#pdf,#pdf1{
    border-color: teal;
    background-color: teal;

}
.timerStyle{
	       background-color: #42494f;
    color: #e8ac6e;
    font-weight: 700;
    font-family: 'digital-clock-font';
    letter-spacing: 1px;
    
	
}
 .panel {
      border: 2px solid #000;
      padding: 20px;
      border-radius: 8px;
      width: fit-content;
      margin: 20px auto;
      text-align: center;
    }
    .radio-label {
      margin-right: 20px;
    }
    #selectedTime {
      margin-top: 20px;
      font-weight: bold;
    }
   
    
     /*////////// Procedure css /////////*/
.section {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.tab-title {
    font-size: 20px;
    font-weight: bold;
    color: #244747;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #244747; /* Applies a full-width bottom border */
    display: block; /* Ensures the border spans full width */
    width: 100%; /* Forces the border to cover full width */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    margin: 8px 0px;
    line-height: 1.6;
/*    list-style-type: circle;*/
}

.button {
     border-color: teal;
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
/*    cursor: pointer;*/
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
    cursor: none;
}

input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}
.error{
	 font-size: "19px";
    font-weight : "600"; 
    color: "brown"
}

#modal-message{
	color:red;
	 font-weight : "600"; 
}
.modal-content{
    background-color: #ecf1f1;
    }
    
   .card {
            transition: transform 0.3s;
        }
        .card:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
        }
        .instruction-box {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 20px;
        } 
        
         .quiz-container {
/*             max-width: 800px; */
            margin: 30px auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .question-table {
            width: 100%;
        }
        .question-table th, .question-table td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }
        .pagination-buttons {
            display: flex;
            justify-content: space-between;
            float: right;
        }
        
        .form-check-input{
            border-color: gray;
        }
        #QuizTitle{
            font-size: larger;
    font-family: serif;
    color: darkslategrey;
    font-weight: 700;}
        